<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @workout_plan.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @workout_plan.description %>
</p>

<p>
  <strong>Level:</strong>
  <%= @workout_plan.level %>
</p>

<p>
  <strong>Price:</strong>
  <%= @workout_plan.price %>
</p>

<%= link_to 'Edit', edit_workout_plan_path(@workout_plan) %> |
<%= link_to 'Back', workout_plans_path %>
