<!DOCTYPE html>
<html>
  <head>
    <title>TrainerApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Start of navbar -->
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/">TrainerApp</a>
      <% if user_signed_in? %>
        <form class="form-inline">
          <%= link_to current_user.name, edit_user_registration_path, class: "btn btn-outline-primary" %>
          <div style="padding-left: 10px; padding-right: 10px;">
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class:"btn btn-outline-danger" %>
          </div>
        </form>

        <% elsif user_signed_in? && current_user.role == :admin %>
          <form class="form-inline">
            <%= link_to current_user.name, edit_user_registration_path, class: "btn btn-outline-primary" %>
            <div style="padding-left: 10px; padding-right: 10px;">
              <%= link_to "Logout", destroy_user_session_path, method: :delete, class:"btn btn-outline-danger" %>
            </div>
            <div style="padding-left: 10px; padding-right: 10px;">
              <%= link_to "Create Plan", new_workouts_plans_path, class:"btn btn-outline-danger" %>
            </div>
          </form>

        <% else %>
          <form class="form-inline">
            <%= link_to 'Sign In', new_user_session_path, class: "btn btn-outline-primary" %>
            <div style="padding-left: 10px; padding-right: 10px;">
              <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-outline-primary" %>
            </div>
          </form>
        <% end %>
      </nav>
      <!-- End of navbar -->

      <div class="container">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

        <%= yield %>
      </div>
    </body>
  </html>